{% extends 'base.html' %}
{% block content %} 


    <form action="{% url 'password' %}" method="post">
    {% csrf_token %}
      <br>
      <div id=password>
      <output name="password" size="{{ length }}">{{ password }}</output>
      </div>
      <br>
      <ul>
      {{ form.as_ul }}
      </ul>
      <br>
      <input type="submit" value="Generate New Password">
    </form>

    <form action="{% url 'add_gen_pass' %}" method="post">
      {% csrf_token %}
      {{ gen_pass_form.as_p }}
      <input name="name">{{ vault.name }}</input>
      <input name="site">{{ vault.site }}</input>
      <input name="description">{{ vault.description }}</input>
      <input name="pw" value="{{ password }}" type="hidden"></input>
      <input type="submit" class="btn" value="Generate Password">
      
    </form>
    


{% endblock %}